@import '@duik/core/_vars.scss';
.social-post-actions {
  display: flex;
  justify-content: center;
  & > button {
    border-radius: 0;
    font-weight: 500;
    padding-left: 52px !important;
    padding-right: 20px;
    border: none !important;
    height: 45px;
    margin: 0 10px;
    i {
      margin-left: 8px;
      color: $text-base;
    }
    &:first-child {
      border-left: none !important;
    }
    &:hover {
      color: $text-main;
      border-color: #e2e5ed;
    }
    & > * {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 550px) {
  .social-post-actions-item-hidden {
    display: none;
  }
}
