@import '@duik/core/_vars.scss';

.buildings-user {
  &-progress-container {
    display: flex;
    align-items: center;

    p {
      color: $text-base;
      margin-right: 1rem;
    }

    @media screen and (min-width: 980px) {
      display: flex;
      align-items: center;

      &>* {
        flex-shrink: 0;
        margin: 0;
      }

      .progressBar {
        margin-left: 20px;
        margin-top: 0;
      }
    }
  }

  &-progress {
    flex-basis: 200px;
    width: 200px;
  }

  &-sub-nav {
    flex-basis: 380px;
    min-width: 350px;
  }

  &-profile-pic {
    padding-top: 300px;
    @include backgroundCover();
  }

  &-menu {
    a span {
      color: $text-base;
    }

    a:global(.active) span {
      color: $text-on-color;
    }
  }

  &-meta {
    h2 {
      font-size: 1.375rem;
      font-weight: 500;
    }
  }


  &-layout {

    display: flex;

    @media screen and (min-width: 1051px) {
      &>* {
        &:not(:last-child) {
          padding-right: 15px;
        }

        &:not(:first-child) {
          padding-left: 15px;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      flex-wrap: wrap;

      .buildings-user-sub-nav {
        flex-grow: 1;
      }

      .buildings-user-profile-pic {
        padding-top: 300px;
        @include backgroundCover();
      }
    }
  }
}