@import '@duik/core/_vars.scss';

.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-green;
  display: inline-block;
  flex-grow: 0;

  @each $name,
  $color in $colors {
    &:global(.#{$name}) {
      background: $color;
    }
  }

  &:global(.grey) {
    background: $border-color-main;
  }
}