@import '@duik/core/_vars.scss';

.nav-link-analytics {
  font-size: .875rem;
  color: $text-main;
  display: block;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border-default-base;

  &-text {
    display: flex;
    align-items: center;
  }

  &-icon {
    display: inline-block;
    margin-right: 12px;
    color: $text-secondary;
    width: 18px;
    text-align: center;
    font-size: 20px;
  }

  &-right-el {
    font-size: 0.75rem;
    color: $text-secondary;
    line-height: 1rem;
  }

  // active
  &:global(.active) {
    font-weight: 500;

    .nav-link-analytics {
      &-icon {
        color: $color-primary;
      }
    }
  }

  &:hover {
    .nav-link-analytics {
      &-icon {
        color: rgba($color-primary-rgb, .8);
      }
    }
  }
}