@import "@duik/core/_vars.scss";

.buildings-list-grid {
  background: $bg-main;
  flex-basis: 600px;
  flex-shrink: 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 30px;
  }

  &-headline {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &.buildings-list-grid-list-view {
    flex-basis: 380px;
  }

  transition: 0.2s all;
  flex-grow: 0; // box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.06),
  // 1px 0 8px 0 rgba(0, 0, 0, 0.10);
  z-index: 50;
  border-right: $border-default-base;

  &-view-switch-wrapper {
    height: 18px;
    font-size: 18px;
    display: flex;
    margin-top: 0;

    & > * {
      display: block;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  &-view-switch-icon {
    color: $text-tertiary;
    cursor: pointer;

    &:hover,
    &:global(.active) {
      color: $color-primary;
    }
  }
}
