@import "@duik/core/_vars.scss";
.social-profile-friend-list-item {
  border: $border-default-base;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
