@import '@duik/core/_vars.scss';
.icon-wrap {
  color: $text-secondary;
  background-color: rgba(0, 0, 40, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  font-size: 1.25rem;

  &.circle {
    height: 62px;
    width: 62px;
    border-radius: 50%;
  }

  &.square {
    height: 38px;
    width: 38px;
    border-radius: 4px;
  }

  @each $name, $color in $colors-rgb {
    &:global(.#{$name}) {
      background-color: rgba($color, 0.1);
      color: rgba($color, 1);
    }
  }
}
