@import '@duik/core/_vars.scss';


.analytics-card-social-traffic {


  &-visitors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;

  }

  &-progress {
    flex-basis: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20px;
  }

  &-table {

    th,
    td {
      &:nth-child(2) {
        min-width: 220px;
      }
    }
td {
  height: 70px;
}
  }
}