@import '@duik/core/_vars.scss';
.social-post-create {
  & > button.btn {
    border-radius: 0;
    font-weight: 500;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    color: $text-secondary;
    padding-left: 0.5rem;
    height: 45px;
    // padding-left: 25px;
    i {
      margin-left: 8px;
      font-size: 1.1rem;
    }
    &:first-child {
      border-left: none !important;
    }
    &:hover {
      color: $text-main;
    }
    & > * {
      justify-content: flex-start;
    }
  }
  &-iconPost {
    color: $blue;
  }
  &-iconPhoto {
    color: $text-main;
  }
  &-iconCamera {
    color: $red;
  }
  @media screen and (max-width: 550px) {
    display: flex;
    & > button {
      flex-grow: 1;
      padding-right: 5px !important;
      span:first-child {
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        i {
          margin-left: 0;
        }
      }
    }
  }

  &-message {
    padding: 16px 20px;
    display: flex;
    align-items: flex-start;
    textarea {
      border: none;
      resize: none;
      flex-grow: 1;
      margin-left: 20px;
      padding-top: 8px;
      line-height: 1.4rem;
      outline: none;
      background: transparent;
    }
    @media screen and (max-width: 550px) {
      padding-bottom: 20px !important;
      padding-top: 20px !important;
      align-items: center !important;
      textarea {
        padding-top: 0 !important;
      }
    }
  }

  &-footer {
    border-top: $border-default-base;
    margin: 0 20px 15px;
    padding-top: 15px;
    & > * {
      margin-right: 10px;
    }
    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  &-actionDesc {
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
}
