@import '@duik/core/_vars.scss';

.tutorial-item {
  flex-basis: 350px;
  flex-shrink: 1;

  &-cover {
    background: no-repeat center center;
    background-size: cover;
    height: 190px;
    @include border-top-radius(4px);
  }

  &-content {
    padding: 24px 30px;

    h3 {
      font-weight: 500;
    }

    p {
      color: $text-secondary;
      margin-top: 0.7rem;
    }
  }

  &-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-duration {
    font-size: 0.875rem;
    color: $text-secondary;
  }

  &-extra {
    border-top: $border-default-base;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
  }
}
