@import "@duik/core/_vars.scss";

.badge {
  border-radius: 4px;
  /* ADMIN: */
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  border: $border-default-base;
  color: $text-secondary;
  font-weight: 500;
  padding: 0 7px;
  height: 24px;

  &:not(.badge-fill) {
    @each $name, $color in $colors {
      &:global(.#{$name}) {
        border: 1px solid $color;
        color: $color;
      }
    }

    &:global(.white) {
      border: 1px solid $bg-main;
      color: $text-on-color;
    }
  }

  &.badge-fill {
    @each $name, $color in $colors {
      &:global(.#{$name}) {
        background: $color;
        border: 1px solid $color;
        color: $text-on-color;
      }
    }

    &:global(.white) {
      background: $bg-main;
      color: $text-main;
    }
  }
}
