@import '@duik/core/_vars.scss';

.widget-chart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &-label {
    color: $text-secondary;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &-value {
    font-size: 2.25rem;
    color: $text-main;
    line-height: 3.125rem;
  }

  &-diff {
    color: $color-green;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  &-down {
    color: $color-red;
  }

  &-icon {
    font-size: 20px;
    margin-left: 12px;
  }

  &-chart {
    margin-top: 24px;
  }
}
