@import "@duik/core/_vars.scss";

.app-directory {
  &-screen-count {
    font-weight: 500;
    color: $color-primary;
  }

  &-item {
    position: relative;
    overflow: hidden;
    transition: 0.2s all;

    &-image {
      width: 100%;
    }

    &-new {
      position: absolute;
      top: 22px;
      right: -1px;
      width: 80px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1665d8;
      color: $text-on-color;
      font-weight: 500;
      font-size: 0.75rem;
      transform: rotate(45deg);
      letter-spacing: 1px;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 30px;
        border-color: transparent transparent #1665d8 transparent;
        top: 0;
        right: 100%;
        transform: translateX(30px);
      }

      &:after {
        right: auto;
        left: 100%;
        transform: translateX(-30px);
      }
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      font-weight: 700;
      color: $text-on-color;
      opacity: 0;
      transition: 0.2s;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: 0.2s;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.05);

      &:before {
        opacity: 1;
      }

      .app-directory-item-text {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

.app-directory-previews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 0;

  & > * {
    flex-basis: calc(50% - 30px);
  }

  @media screen and (max-width: 500px) {
    & > * {
      flex-basis: calc(100% - 30px);
    }
  }
}

.app-directory-content-inner {
  padding: 0 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.app-directory-content {
  padding-top: 7rem;
  padding-bottom: 5rem;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
  }

  h1 {
    font-size: 4rem;
    font-weight: 400;

    & + p {
      font-size: 1.4rem;

      & + * {
        margin-top: 9rem;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 7rem;
  }
}

.app-directory-comming-soon {
  transform: translateY(-2rem);
  opacity: 0.7;
}
