@import '@duik/core/_vars.scss';
.socialio-home {
  padding: 0 15px;
  max-width: 1035px;
  @media screen and (max-width: 1439px) {
    max-width: 630px;
  }
  margin: auto;
  & > * {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
}

.socialio-feed {
  flex-basis: 570px;
  flex-grow: 1;
}

.socialio-feed-secondary {
  flex-basis: 285px;
  flex-grow: 1;
  max-width: 400px;
  @media screen and (max-width: 1439px) {
    display: none;
  }
}

.socialio-feed-secondary-widget-header {
  padding-left: 25px;
  padding-right: 20px;
}

.socialio-feed-secondary-events {
  padding: 20px;
  &-text {
    color: $text-main;
  }
}

.socialio-feed-secondary-events-suggested-pages {
  padding-top: 60%;
  @include backgroundCover();
  border-radius: 4px;
  margin-top: 15px;
}

.socialio-feed-secondary-events-suggested-cta {
  border-top: $border-default-base;
  text-align: center;
  padding: 4px;
  strong {
    color: $text-main;
  }
}

.dropdown-btn-dots {
  &:after,
  &:before {
    display: none;
  }
  padding: 0;
}
